@font-face {
    font-family: ThreadedFont;
    src:url(Fonts/BBHSansHegarty-Regular.ttf)
}

label, h1, h2{
    align-items: center;
    font-family: ThreadedFont;
}
header { width: 100%; padding: 20px 0; }
header .content { width: 1000px; margin: auto; }
header .content p { font-size: 22px; color: #000; }
