@font-face {
    font-family: ThreadedFont;
    src:url(Fonts/BBHSansHegarty-Regular.ttf)
}

label, h1, span, h2, input, p{
    font-family: ThreadedFont;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
  height: 150px;
}

/* Clear float after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.search{
  display: inline-flex;        /* put icon + text on one line */
  align-items: center;         /* vertical middle alignment */
  gap: .6rem;                  /* space between icon and text */
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header, footer{
  min-height: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}