@font-face {
    font-family: ThreadedFont;
    src:url(Fonts/BBHSansHegarty-Regular.ttf)
}

label, h1, h2{
    align-items: center;
    font-family: ThreadedFont;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  height: 150px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}